h1 {
  color: #1976d2;
  padding-bottom: 5px;
  align-self: center;
}
h2 {
  color: #1976d2;
  width: 180px;
}
.header {
  width: 280px;
  padding: 16px;
  display: flex;
  gap: 10px;
}

.home {
  background: url("../logo2.png") no-repeat 50% 30%;
  background-size: 80%;
  filter: opacity(0.3);
  width: 100%;
  height: 640px;
}

.app-body {
  display: grid;
  grid-template-columns: 250px auto;
  gap: 20px;
}

.section {
  padding-inline: 16px;
  height: 640px;
}
.section-header {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
}
.section-body {
  height: 450px;
  margin-bottom: 38px;
  overflow-y: auto;
}

@media screen and (max-width: 849px) {
  .header {
    width: 100%;
    padding: 8px;
  }
  .app-body {
    grid-template-columns: auto;
  }
  .section-container {
    translate: 0 0;
  }
  .section,
  .home {
    padding-inline: 8px;
    height: 560px;
  }

  .section-header {
    grid-template-columns: repeat(2, auto);
    row-gap: 15px;
    padding: 0;
    padding-top: 5px;
    & .btn-group {
      grid-column: span 2;
      margin-inline: auto;
      order: 3;
    }
  }
  .section-body{
    margin-bottom: 0;
  }
  
}

/* For WebKit browsers */
.section-body::-webkit-scrollbar {
  width: 6px;
}
@media screen and (max-width: 570px) {
  .section-body::-webkit-scrollbar {
    width: 0px;
  }
}
/* Track */
.section-body::-webkit-scrollbar-track {
  background: #e1d3e8;
}
/* Handle */
.section-body::-webkit-scrollbar-thumb {
  background: rgb(8, 3, 99);
  background: linear-gradient(180deg, #bc79ff 6%, #fb00ee 100%);
}
/* Handle on hover */
.section-body::-webkit-scrollbar-thumb:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, #a268db 6%, #c200b9 100%);
}
