.sideMenu {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style: none;
  width: 60%;
  padding: 10px;
  margin-block: 10px;
}

/* --------------- */
nav a {
  border-radius: 10px;
  display: block;
  font-weight: bold;
  margin: 0 10px;
  text-decoration: none;
  color: lightgray;
  &:hover {
    color: #1976d2;
    background-color: #b6d4f1;
  }
}
nav a.active {
  color: #1976d2;
  background-color: #b6d4f1;
}

/* ------ */
nav {
  height: 400px;
  box-sizing: content-box;
  overflow-y: auto;
  overflow-x: hidden;
}
nav::-webkit-scrollbar {
  width: 3px;
}
nav::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
